name: Continuous Integration Workflow

on:
  pull_request:
  push:
  # This workflow runs every weekday at 15:00 UTC (8AM PDT)
  schedule:
    - cron: '00 15 * * 1-5'

jobs:
  Static_Analysis:
    uses: ./.github/workflows/static-analysis.yml

  Build:
    strategy:
      fail-fast: false # TODO: Set to true once CI is stable
      matrix:
        version: [ 8, 11, 17 ]
        distribution: [ corretto, temurin ] # TODO: Add OpenJDK
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      version: ${{ matrix.version }}
      distribution: ${{ matrix.distribution }}

  Examples:
    uses: ./.github/workflows/examples.yml
    secrets: inherit
    with:
      version: 17
      distribution: corretto
