name: Migration Examples

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
      distribution:
        required: true
        type: string

jobs:
  MigrationExamples:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::${{ secrets.CI_AWS_ACCOUNT_ID }}:role/service-role/${{ vars.CI_AWS_ROLE }}
          role-session-name: S3EC-Github-CI-Tests
          aws-region: ${{ vars.CI_AWS_REGION }}

      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup JDK
        uses: actions/setup-java@v3
        with:
          distribution: ${{ inputs.distribution }}
          java-version: ${{ inputs.version}}
          cache: 'maven'

      - name: Install S3EC
        run: |
          mvn -B -ntp install -DskipTests
        shell: bash

      # TODO: Add step to run v3 examples once we have transitional version
      #       cd migration_examples/v3-to-v4/v3
      #       mvn -B -ntp test -DskipCompile
      - name: Run Migration Examples
        run: |
          export AWS_S3EC_TEST_BUCKET=${{ vars.CI_S3_BUCKET }}
          export AWS_S3EC_TEST_KMS_KEY_ID=arn:aws:kms:${{ vars.CI_AWS_REGION }}:${{ secrets.CI_AWS_ACCOUNT_ID }}:key/${{ vars.CI_KMS_KEY_ID }}
          export AWS_REGION=${{ vars.CI_AWS_REGION }}
          cd migration_examples/v3-to-v4/v4
          mvn -B -ntp test -DskipCompile
        shell: bash
